$brown1: #2c2525;
$brown2: #42332c;
$brown3: #6b503c;
$darkBrownWithOpacity: rgba(65, 36, 15, 0.9);
$brown4: #ebc7ae;
$brown5: #f3ccb1;
$brown6: #e6d6c8;

$white1: #fdfdfd;
$white2: #f6f6f6;
$white3: #fbfbfb;

$black1: #1b1a1f;
$gray: #565656;
$red: #b80101;
$lightBlue: #3c586b;
$green: #1cc09c;

$gradient: linear-gradient(90deg, #42332c 0%, #2c2525 43.23%, #1b1a1f 100%);
$skeletonGradient: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);

$modalBackground: rgba(44, 37, 37, 0.8);

$cardBoxShadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
$hoveredCardBoxShadow: 2px 2px 10px 5px rgba(243, 204, 177, 0.3);

$tabletBreakpoint: 600px;
$desktopBreakpoint: 900px;